<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.106.7" targetFramework="net461" />
  <package id="AWSSDK.Lambda" version="3.3.108.5" targetFramework="net461" />
  <package id="AWSSDK.SecretsManager" version="3.3.102.27" targetFramework="net461" />
  <package id="AWSSDK.SQS" version="3.3.102.71" targetFramework="net461" />
  <package id="BouncyCastle" version="1.8.5" targetFramework="net461" />
  <package id="mongocsharpdriver" version="2.3.0" targetFramework="net461" />
  <package id="MongoDB.Bson" version="2.3.0" targetFramework="net461" />
  <package id="MongoDB.Driver" version="2.3.0" targetFramework="net461" />
  <package id="MongoDB.Driver.Core" version="2.3.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net461" />
  <package id="Newtonsoft.Json.Schema" version="3.0.13" targetFramework="net461" />
  <package id="NLog" version="4.6.8" targetFramework="net461" />
  <package id="NLog.Config" version="4.6.8" targetFramework="net461" />
  <package id="NLog.Schema" version="4.6.8" targetFramework="net461" />
  <package id="System.Configuration.ConfigurationManager" version="4.7.0" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net461" />
  <package id="System.Security.Permissions" version="4.7.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net461" />
</packages>