<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <!-- Difference environment configuration sections -->
   <configSections>
      <section name="dev" type="System.Configuration.AppSettingsSection" />
      <section name="uat" type="System.Configuration.AppSettingsSection" />
      <section name="qa" type="System.Configuration.AppSettingsSection" />
      <section name="stg" type="System.Configuration.AppSettingsSection" />
      <section name="prod" type="System.Configuration.AppSettingsSection" />
   </configSections>
   
   <!-- Active profile for the environment -->
   <appSettings>
      <add key="env" value="dev" />
   </appSettings>
   
   <!-- Development Environment Configuration Section -->
   <dev>
      <!-- AWS Properties to be provided here-->
      <add key="region" value="Value to be provided here" />
      <add key="accessKey" value="Value to be provided here" />
      <add key="secretKey" value="Value to be provided here" />
	  
      <!-- AMB Fabric Properties for Development Environment to be provided here -->
      <add key="networkId" value="Value to be provided here" />
      <add key="memberId" value="Value to be provided here" />
      <add key="enrolmentId" value="Value to be provided here" />
	  
      <!-- AWS SQS Incoming Queue URL for Development Environment to be provided here-->
      <add key="sqsUrl" value="Value to be provided here" />
	  
      <!-- AWS Lambda Function for Development environment regards to Chaincode  provided here-->
      <add key="lambdaChaincode" value="Value to be provided here" />
	  
      <!-- Local Key storage URL for Development environment  provided here-->
      <add key="localDBUrl" value="mongodb://localhost:27017" />
	  
      <!-- Local Key storage Database Name for Development environment  provided here-->
      <add key="localDatabase" value="DLTInterfaceKeyManagement" />
	  
      <!-- Local Key storage Database Name for Development environment  provided here-->
      <add key="localDBCollection" value="OrganisationKeyManagement" />
	  
      <!-- Management API URL for Development environment provided here-->
      <add key="keyManagementBaseUrl" value="http://localhost:3000/" />
      <add key="keyManagementUrlEncryption" value="http://localhost:3000/getDataEncryptionKey" />
      <add key="keyManagementUrlDecryption" value="http://localhost:3000/getDataDecryptionKey" />
   </dev>
   
   <!-- UAT Environment Configuration Section -->
   <uat>
      <!-- AWS Properties to be provided here-->
      <add key="region" value="Value to be provided here" />
      <add key="accessKey" value="Value to be provided here" />
      <add key="secretKey" value="Value to be provided here" />
	  
      <!-- AMB Fabric Properties for UAT Environment to be provided here -->
      <add key="networkId" value="Value to be provided here" />
      <add key="memberId" value="Value to be provided here" />
      <add key="enrolmentId" value="Value to be provided here" />
	  
      <!-- AWS SQS Incoming Queue URL for UAT Environment to be provided here-->
      <add key="sqsUrl" value="Value to be provided here" />
	  
      <!-- AWS Lambda Function for UAT environment regards to Chaincode  provided here-->
      <add key="lambdaChaincode" value="Value to be provided here" />
	  
      <!-- Local Key storage URL for UAT environment  provided here-->
      <add key="localDBUrl" value="mongodb://localhost:27017" />
	  
      <!-- Local Key storage Database Name for UAT environment  provided here-->
      <add key="localDatabase" value="DLTInterfaceKeyManagement" />
	  
      <!-- Local Key storage Database Name for UAT environment  provided here-->
      <add key="localDBCollection" value="OrganisationKeyManagement" />
	  
      <!-- Management API URL for UAT environment provided here-->
      <add key="keyManagementBaseUrl" value="http://localhost:3000/" />
      <add key="keyManagementUrlEncryption" value="http://localhost:3000/getDataEncryptionKey" />
      <add key="keyManagementUrlDecryption" value="http://localhost:3000/getDataDecryptionKey" />
   </uat>
   
   <!-- QA Environment Configuration Section -->
   <qa>
      <!-- AWS Properties to be provided here-->
      <add key="region" value="Value to be provided here" />
      <add key="accessKey" value="Value to be provided here" />
      <add key="secretKey" value="Value to be provided here" />
	  
      <!-- AMB Fabric Properties for QA Environment to be provided here -->
      <add key="networkId" value="Value to be provided here" />
      <add key="memberId" value="Value to be provided here" />
      <add key="enrolmentId" value="Value to be provided here" />
	  
      <!-- AWS SQS Incoming Queue URL for QA Environment to be provided here-->
      <add key="sqsUrl" value="Value to be provided here" />
	  
      <!-- AWS Lambda Function for QA environment regards to Chaincode  provided here-->
      <add key="lambdaChaincode" value="Value to be provided here" />
	  
      <!-- Local Key storage URL for QA environment  provided here-->
      <add key="localDBUrl" value="mongodb://localhost:27017" />
	  
      <!-- Local Key storage Database Name for QA environment  provided here-->
      <add key="localDatabase" value="DLTInterfaceKeyManagement" />
	  
      <!-- Local Key storage Database Name for QA environment  provided here-->
      <add key="localDBCollection" value="OrganisationKeyManagement" />
	  
      <!-- Management API URL for QA environment provided here-->
      <add key="keyManagementBaseUrl" value="http://localhost:3000/" />
      <add key="keyManagementUrlEncryption" value="http://localhost:3000/getDataEncryptionKey" />
      <add key="keyManagementUrlDecryption" value="http://localhost:3000/getDataDecryptionKey" />
   </qa>
   
   <!-- Staging Environment Configuration Section -->
   <stg>
      <!-- AWS Properties to be provided here-->
      <add key="region" value="Value to be provided here" />
      <add key="accessKey" value="Value to be provided here" />
      <add key="secretKey" value="Value to be provided here" />
	  
      <!-- AMB Fabric Properties for Staging Environment to be provided here -->
      <add key="networkId" value="Value to be provided here" />
      <add key="memberId" value="Value to be provided here" />
      <add key="enrolmentId" value="Value to be provided here" />
	  
      <!-- AWS SQS Incoming Queue URL for Staging Environment to be provided here-->
      <add key="sqsUrl" value="Value to be provided here" />
	  
      <!-- AWS Lambda Function for Staging environment regards to Chaincode  provided here-->
      <add key="lambdaChaincode" value="Value to be provided here" />
	  
      <!-- Local Key storage URL for Staging environment  provided here-->
      <add key="localDBUrl" value="Value to be provided here" />
	  
      <!-- Local Key storage Database Name for Staging environment  provided here-->
      <add key="localDatabase" value="Value to be provided here" />
	  
      <!-- Local Key storage Database Name for Staging environment  provided here-->
      <add key="localDBCollection" value="Value to be provided here" />
	  
      <!-- Management API URL for Staging environment provided here-->
      <add key="keyManagementBaseUrl" value="Value to be provided here" />
      <add key="keyManagementUrlEncryption" value="Value to be provided here" />
      <add key="keyManagementUrlDecryption" value="Value to be provided here" />
   </stg>
   
   <!-- Production Environment Configuration Section -->
   <prod>
      <!-- AWS Properties to be provided here-->
      <add key="region" value="Value to be provided here" />
      <add key="accessKey" value="Value to be provided here" />
      <add key="secretKey" value="Value to be provided here" />
	  
      <!-- AMB Fabric Properties for Production Environment to be provided here -->
      <add key="networkId" value="Value to be provided here" />
      <add key="memberId" value="Value to be provided here" />
      <add key="enrolmentId" value="Value to be provided here" />
	  
      <!-- AWS SQS Incoming Queue URL for Production Environment to be provided here-->
      <add key="sqsUrl" value="Value to be provided here" />
	  
      <!-- AWS Lambda Function for Production environment regards to Chaincode  provided here-->
      <add key="lambdaChaincode" value="Value to be provided here" />
	  
      <!-- Local Key storage URL for Production environment  provided here-->
      <add key="localDBUrl" value="Value to be provided here" />
	  
      <!-- Local Key storage Database Name for Production environment  provided here-->
      <add key="localDatabase" value="Value to be provided here" />
	  
      <!-- Local Key storage Database Name for Production environment  provided here-->
      <add key="localDBCollection" value="Value to be provided here" />
	  
      <!-- Management API URL for Production environment provided here-->
      <add key="keyManagementBaseUrl" value="Value to be provided here" />
      <add key="keyManagementUrlEncryption" value="Value to be provided here" />
      <add key="keyManagementUrlDecryption" value="Value to be provided here" />
   </prod>
</configuration>